@font-face {
	font-family: VAG;
	src: url(fonts/16237.ttf);
}
body {
	font-family: VAG;
	background-color:#E5A4E1; 

}
p {
	font-size: 20px;
	text-align: center;
}
img {
	height: 600px;
	width:  100% ;
	margin: auto;
	position: center;
	display:block;
	
}
#box {
	width: 50%;
	margin: auto;
	background-color: #EEC4C4;
	padding:30px;

}
h1 {
	text-align: center;
}
